#    ____ _ _      ____ _ _  __  __
#   / ___(_) |_   / ___| (_)/ _|/ _|
#  | |  _| | __| | |   | | | |_| |_
#  | |_| | | |_  | |___| | |  _|  _|
#  \____|_|\__|  \____|_|_|_| |_|
#
# Git Cliff Configuration file

[changelog]

header = "## Whats New?"

body = """
{% for group, commits in commits | group_by(attribute="group") %}
    ### ⏩︎{{ group | upper_first }}

    {% for commit in commits %}
        {%- if commit.scope -%}
        {%- if group == "<!-- 0 --> AUR" -%}
        - {{ commit.message | upper_first }} ({{ commit.id | truncate(length=7, end="") }})
        {%- else -%}
        - **{{ commit.scope }}:** {{ commit.message | upper_first }} ({{ commit.id | truncate(length=7, end="") }})
        {%- endif -%}
        {%- else -%}
        - {{ commit.message | upper_first }} ({{ commit.id | truncate(length=7, end="") }})
        {%- endif %}
    {% endfor %}
{% endfor %}
"""

trim = true

[git]

conventional_commits = true
filter_unconventional = false
split_commits = false

commit_preprocessors = [
    { pattern = '\((\w+\s)?#([0-9]+)\)', replace = "([#${2}](https://github.com/mydehq/MyCTL/issues/${2}))"},
]

commit_parsers = [

    # Skip Commits
    { message = "^chore\\(release\\)", skip = true },
    { message = "^ci", skip = true },
    { message = "^\\w+\\(ci\\)", skip = true },
    { message = "^cliff", skip = true },
    { message = "^\\w+\\(cliff\\)", skip = true },
    { message = "^test", skip = true },
    { message = "(?i)readme", skip = true },
    { message = "^(docs|doc)", skip = true },

    # 1. AUR Related
    { message = "^.*\\((aur|pkgbuild)\\)", group = "<!-- 0 --> AUR" },

    # 2. The Good Stuff (Features)
    { message = "^feat", group = "<!-- 1 --> Features" },

    # 3. The Fixes
    { message = "^fix", group = "<!-- 2 --> Bug Fixes" },

    # 4. Improvements
    { message = "^perf", group = "<!-- 3 --> Performance" },
    { message = "^refactor", group = "<!-- 4 --> Refactor" },

    # 5. Styling
    { message = "^style", group = "<!-- 5 --> Styling" },

    # 6. Low Priority / Internal
    { message = "^chore", group = "<!-- 8 --> Miscellaneous" },
]

protect_breaking_commits = false

filter_commits = false

sort_commits = "oldest"
